
@import "~@ui.packages/themes";


.li {

  display: block;
  font-weight: 300;
  font-size: 16px;
  color: $coal-dark;
  letter-spacing: .5px;
  padding: 0 0 0 15px;
  line-height: 1.4;
}

.li:before {

  display: inline-block;
  content: '-';
  margin: 0 7px 0 -15px;
}

.li + .li {

  margin: 10px 0 0;
}
