
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200;1,300;1,500;1,600;1,700&display=swap');


$danger:      #b9311b !default;
$success:     #1bb934 !default;
$primary:     #077dee !default;
$information: #ffc542 !default;

$black:            #000000 !default;
$white: #ffffff !default;
$coral:            #ff514f !default;
$squash:           #f79e1b !default;
$coal-dark:        #171725 !default;
$pale-grey:        #fafafb !default;
$charcoal-grey:    #44444f !default;
$pale-grey-three:  #e6eaee !default;
$pale-grey-four:   #f1f1f5 !default;
$blue-grey-three:  #8191a5 !default;
$dark-grey-blue:   #354052 !default;
$pale-lilac:       #e2e2ea !default;
$blue-grey:        #92929d !default;
$blue-grey-2:      #7f8fa4 !default;
$pinkish-grey:     #c0c0c0 !default;
$navy-blue:        #002148 !default;
$primary:          #077dee !default;
$very-light-pink:  #f9f7f7 !default;
$slate-grey:       #65657c !default;
$pinkish-grey:     #c0c0c0 !default;
$dark-grey-blue:   #354052 !default;
$pale-grey-five:   #f6f6f8 !default;

$green-5:            rgba(#1bb934, .05%) !default;
$sienna-5:           rgba(#b9311b, .05%) !default;
$blue-grey-5:        rgba(#7f8fa4, .05%) !default;
$cerulean-blue-5:    rgba(#077dee, .05%) !default;
$very-light-pink-5:  rgba(#f9f7f7, .05%) !default;
$yellowish-orange-5: rgba(#f79e1b, .05%) !default;
$rich-blue-44:       rgba(0, 41, 255, .44) !default;
$rich-blue-12:       rgba(0, 41, 255, .12) !default;

$green:             rgba(#1bb934, .05%) !default;
$sienna:            rgba(#b9311b, .05%) !default;
$very-light-pink-5: rgba(#f9f7f7, .05%) !default;
$yellowish-orange:  rgba(#f79e1b, .05%) !default;
