
@import "~@ui.packages/themes";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 520px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover, cover;
  background-attachment: scroll, scroll;
  justify-content: flex-end;
  padding: 0 40px 80px;
  box-sizing: border-box;
}

.title {

  display: inline-block;
  font: 50px "Exo 2", sans-serif;
  color: $white;
  width: 1200px;
  margin: 0 auto;
  letter-spacing: 1px;
  text-shadow: 0 0 12px rgba(#000, .3);
  box-sizing: border-box;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: $white;
  padding: 0 0 90px;

  &__block {

    display: block;
    margin: 0 auto;
    width: 1200px
  }
}

@media screen and (max-width: 1280px) {

  .header {
    height: 420px;
    padding: 0 40px 60px;
  }

  .title {

    font-size: 45px;
    width: 100%;
  }

  .content {

    padding: 60px 0 70px;

    &__block {

      width: 100%;
      padding: 0 40px;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 1024px) {

  .header {

    height: 340px;
    padding: 0 30px 60px;
  }

  .title {

    font-size: 35px;
    width: 100%;
  }

  .content {

    padding: 60px 0 70px;

    &__block {

      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
    }
  }
}
