
@import "~@ui.packages/themes";

@import "./reset.css";
@import "./fonts/font-awesome/index.module";


:global {

  html,
  body {

    height: 100%;
    background-color: $white;
  }

  #root {

    display: flex;
    flex-direction: column;
    flex: 1 0;
    height: 100%;
  }

  b,
  strong {
    font-weight: 500;
  }

  i {
    font-style: italic;
  }
}
