
@import "~@ui.packages/themes";


.header {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 790px;
  background-image: linear-gradient(180deg, rgba(black, .4), rgba(black, 1)), url('./background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover, cover;
  background-attachment: scroll, fixed;
  justify-content: flex-end;
  padding: 0 40px 80px;
  box-sizing: border-box;
}

.description {

  position: absolute;
  left: 50%;
  top: 330px;
  display: block;
  width: 750px;
  margin: 0 0 0 -375px;

  &__promo {

    display: block;
    color: $white;
    font: 500 50px "Exo 2", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &__info {

    display: block;
    font: 500 22px "Exo 2", sans-serif;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 4px;
    line-height: 1.5;
    margin: 36px 0 0;
  }
}

.yellow {

  color: $information;
}

.line-1 {

  position: absolute;
  top: -70px;
  left: 80px;
  width: 4px;
  height: 60px;
  background: $white;
}

.line-2 {

  position: absolute;
  top: -70px;
  left: 84px;
  width: 576px;
  height: 4px;
  background: $white;
}

.line-3 {

  position: absolute;
  top: -70px;
  left: 660px;
  width: 4px;
  height: 410px;
  background: $white;
}

.line-4 {

  position: absolute;
  top: 340px;
  left: 130px;
  width: 534px;
  height: 4px;
  background: $white;
}

.line-5 {

  position: absolute;
  top: 294px;
  left: 130px;
  width: 4px;
  height: 46px;
  background: $white;
}

.line-6 {

  position: absolute;
  top: 192px;
  left: 0;
  width: 290px;
  height: 4px;
  background: $information;
}


@media screen and (max-width: 1280px) {

  .header {
    height: 710px;
  }

  .description {
    top: 270px;
  }
}

@media screen and (max-width: 1024px) {

  .header {
    height: 550px;
  }

  .description {

    top: 220px;
    width: 660px;
    margin: 0 0 0 -330px;

    &__promo {
      font-size: 32px;
    }

    &__info {
      font-size: 18px;
      margin: 26px 0 0;
    }
  }

  .line-2 {
    width: 482px;
  }

  .line-3 {
    height: 321px;
    left: 566px;
  }

  .line-4 {
    top: 251px;
    width: 440px;
  }

  .line-5 {
    top: 205px;
  }

  .line-6 {
    top: 122px;
    width: 190px;
    height: 2px;
  }
}

@media screen and (max-width: 600px) {

  .line-1,
  .line-2,
  .line-3,
  .line-3,
  .line-4,
  .line-5 {
    display: none;
  }
}
