
@import "~@ui.packages/themes";


.wrapper {

  display: block;
  margin: 70px 0 0;
  text-align: center;
}

.item {

  display: inline-block;

  &:hover .text {

    text-decoration: underline;
  }

  & + & {

    margin: 0 0 0 40px;
  }
}

.icon {

  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.text {

  display: inline-block;
  vertical-align: middle;
  color: $white;
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 0 15px;
}
