
@import "~@ui.packages/themes";


.wrapper {

  display: block;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover, cover;
  background-attachment: scroll, scroll;
}

.content {

  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 80px 0 80px;
}

.logotype {

  display: block;
  text-align: center;
}

.logo {

  display: inline-block;
  width: 160px;
  height: 84px;
  background: url("logotype.svg") center/100% no-repeat;
}

.information {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 80px 0 0;
}

.phone,
.email,
.address {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 10px 0;
  justify-content: center;
  align-items: center;

  & + & {

    margin: 0 0 0 40px;
    padding: 0 0 0 40px;
    border-left: 1px solid $information;
  }
}

//.phone {
//
//  align-items: center;
//}
//
//.email {
//
//  align-items: flex-end;
//}

@media screen and (max-width: 1280px) {

  .wrapper {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1024px) {

  .wrapper {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
}
