
@import "~@ui.packages/themes";


.wrapper {

  position: relative;
  display: block;

  & + & {

    margin: 20px 0 0;
  }
}

.error {

  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  padding: 0 0 0 13px;
}

.text {

  display: inline-block;
  font-weight: 300;
  font-size: 10px;
  color: $danger;
  letter-spacing: .5px;
}
