
@import "~@ui.packages/themes";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.logo {

  display: block;
  width: 270px;
  margin: 0 40px 0 0;
}

.wrapper--reverse {

  flex-direction: row-reverse;

  .logo {

    margin: 0 0 0 40px;
    text-align: right;
  }

  .more {

    text-align: left;
  }
}

.icon {

  font-size: 80px;
  color: $blue-grey-three;
  transition: color 400ms;
}

.title {

  display: block;
  font: 600 24px "Exo 2", sans-serif;
  color: darken($primary, 10%);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;

  &:hover {

    text-decoration: underline;
  }
}

.description {

  display: block;
  font: 300 16px "Exo 2", sans-serif;
  color: $coal-dark;
  margin: 30px 0 0;
  text-align: justify;
  line-height: 1.5;
}

.more {

  display: block;
  text-align: right;
  margin: 30px 0 0;
}

.link {

  font: 500 16px "Exo 2", sans-serif;
  color: $primary;
}
