
@import "../../../../node_modules/@ui.packages/themes";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 340px;
  background-color: $dark-grey-blue;
  justify-content: flex-end;
  padding: 0 40px 80px;
}

.title {

  display: inline-block;
  font: 32px "Exo 2", sans-serif;
  color: $white;
  width: 1200px;
  margin: 0 auto;
}

.content {

  display: block;
  background: $white;
  padding: 60px 0 120px;

  &__block {

    display: block;
    width: 1200px;
    margin: 0 auto;
  }
}
