
@import "~@ui.packages/themes";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: rgba($white, .6);
  padding: 30px;
  border-bottom: 2px solid $pale-lilac;
  border-right: 2px solid $pale-lilac;
}

.logo {

  display: flex;
  flex-direction: column;
  flex: 0 0;
  justify-content: center;
}

.icon {

  display: inline-block;
  font-size: 40px;
  width: 40px;
  color: $success;
  text-align: center;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 30px;
  justify-content: center;
}

.title {

  display: block;
}

.description {

  display: block;
  margin: 20px 0 0;
}
