
@import "~@ui.packages/themes";


.background {

  background-image: linear-gradient(180deg, rgba(black, .4), rgba(black, .3)), url("./background.jpg");
}

.breadcrumbs {

  display: block;
  margin: 50px 0 10px;
}

.header {

  display: block;
  text-align: center;
  margin: 0 0 100px;
}

.title {

  display: block;
  font: 600 40px "Exo 2", sans-serif;
  color: $coal-dark;
  letter-spacing: .5px;
  vertical-align: middle;
  margin: 0 0 60px;

  &:after,
  &:before {

    display: inline-block;
    content: '';
    width: 120px;
    height: 3px;
    background: $information;
    vertical-align: middle;
  }

  &:after {
    margin: 0 0 0 20px;
  }
  &:before {
    margin: 0 20px 0 0;
  }
}


.services {

  display: block;
}

.service {

  display: block;

  & + & {

    margin: 70px 0 0;

    &:before {

      display: block;
      content: '';
      width: 100%;
      height: 4px;
      background: linear-gradient(90deg, #fff, $pale-lilac, #fff);
      margin: 0 0 70px 0;
    }
  }
}
