
@import "~@ui.packages/themes";


.wrapper {

  display: block;
  padding: 90px 0 120px;
  background: $white url("./noice.png");
}

.header {

  display: block;
  text-align: center;
  margin: 0 0 90px;
}

.content {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1120px;
  padding: 0 100px;
  box-sizing: border-box;
}

.column {

  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
}

.block {

  display: block;

  & + & {
    margin: 40px 0 0;
  }
}

.title {

  display: block;
}

.list {

  display: block;
  margin: 20px 0 0;
}
