
@import "~@ui.packages/themes";


.row {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  flex-wrap: wrap;
  margin: -120px 0 0;
  overflow: hidden;
  justify-content: space-between;
}

.col {

  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
  justify-content: center;
  align-items: center;
  margin: 120px 0 0;

}

.picture {

  display: block;
  width: 300px;
  height: 200px;
  overflow: hidden;
}
