
@import "~@ui.packages/themes";


.breadcrumbs {

  display: block;
  margin: 30px 0 50px;
}

.header {

  display: block;
  text-align: center;
  margin: 0 0 100px;
}

.title {

  display: block;
  font: 600 40px "Exo 2", sans-serif;
  color: $coal-dark;
  letter-spacing: .5px;
  vertical-align: middle;
  margin: 0 0 20px;

  &:after,
  &:before {

    display: inline-block;
    content: '';
    width: 120px;
    height: 3px;
    background: $information;
    vertical-align: middle;
  }

  &:after {
    margin: 0 0 0 20px;
  }
  &:before {
    margin: 0 20px 0 0;
  }
}

.row {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  flex-wrap: wrap;
  margin: -120px 0 0;
  overflow: hidden;
  justify-content: space-between;
}

.col {

  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  justify-content: center;
  align-items: center;
  margin: 120px 0 0;

}

.picture {

  display: block;
  width: 500px;
  height: 700px;
  overflow: hidden;
}
