
@import "~@ui.packages/themes";


.form {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.controls {

  display: block;
  width: 600px;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 80px;
}

.container {

  display: block;
  background: $white;
  padding: 20px 30px;
  border-radius: 18px;
  box-shadow: 0 6px 10px 0 rgba($coal-dark, .1);

  & + & {

    margin: 20px 0 0;
  }
}

.header {

  margin: 0 0 24px;
}

.control {

  display: block;
  margin: 40px 0 0;
  text-align: center;
}

.text-align {

  text-align: center;
}

.contacts {

  padding: 40px 80px 20px;
}

.description {

  display: block;
  text-align: center;
  color: $blue-grey;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  margin: 30px 0 0;
}
