
@import "~@ui.packages/themes";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
  background: $pale-grey url("./noice.png");
}

.header {

  display: block;
  box-shadow: 0 7px 20px 0 $blue-grey;
}

.controls {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 10;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  z-index: 0;

  &__block {

    display: block;
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 200px;
  }
}

.footer {

  display: block;
  background: $coal-dark;
}
