
@import "~@ui.packages/themes";


.item {

  display: inline-block;
  font: 18px "Exo 2", sans-serif;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 200ms;
  letter-spacing: 1px;

  &:hover {

    border-bottom-color: $white;
  }

  &--active,
  &--active:hover {

    color: $information;
    border-bottom-color: $information;
  }

  & + &,
  & + .sub-item {

    margin: 0 0 0 20px;
  }
}

.text {

  display: inline-block;
  color: inherit;
  vertical-align: middle;
}

.arrow {

  display: inline-block;
  color: $white;
  margin: 0 0 0 8px;
  font-size: 14px;
  vertical-align: middle;
  transition: transform 200ms;
}

.sub-item {

  position: relative;
  display: inline-block;

  &__menu {

    display: none;
  }

  &:hover &__menu {

    display: block;
  }

  &:hover .arrow {
    transform: scale(1.4);
  }

  & + &,
  & + .item {

    margin: 0 0 0 20px;
  }
}


@media screen and (max-width: 1280px) {

  .item {
    font-size: 14px;

    & + & {

      margin: 0 0 0 12px;
    }
  }
}

@media screen and (max-width: 1024px) {

  .item {
    font-size: 12px;

    & + & {

      margin: 0 0 0 10px;
    }
  }
}
